{% extends 'blog/base.html' %}

{% block content %}

{% for post in posts %}
<div class="article">
<h1>{{ post.title }}</h1>
<p class="auth-rel">Автор: {{post.author}}</p>
<hr>
  <p>{{ post.text }}</p>
  <p class="tags">Теги:
  {% for tag in post.tags.all %}
  <a href="{% url 'tag' tag.slug %}">{{ tag }}</a>
  {% endfor %}
  </p>
  <p class="auth-rel">
  <a href="{% url 'post' post.id %}">Подробнее</a>
  </p>
</div>
{% endfor %}

{% if page_obj.has_other_pages %}
<nav class="navigate">
<ul>
  {% if page_obj.has_previous %}
  <li class="pages">
    <a href="{% url 'pages' page_obj.previous_page_number %}"><</a>
  </li>
  {% endif %}
  <li class="pages">
    {{ page_obj.number }}
  </li>
  {% if page_obj.has_next %}
  <li class="pages">
    <a href="{% url 'pages' page_obj.next_page_number %}">></a>
  </li>
  {% endif %}
</ul>
</nav>

{% endif %}

{% endblock %}
